Repository NN-complr-tech/llvm, changes with the labels that .github/labeler.yml gives for each.
All labels: lab:clang, lab:llvm ir, lab:backend, lab:mlir, tests, ci

.github/labeler.yml:

'lab:clang':
 - "clang/compiler-course/**"
'lab:llvm ir':
 - "llvm/compiler-course/llvm-ir/**"
'lab:backend':
 - "llvm/compiler-course/backend/**"
'lab:mlir':
 - "mlir/compiler-course/**"

tests:
 - "clang/test/compiler-course/**"
 - "llvm/test/compiler-course/**"
 - "mlir/test/compiler-course/**"

ci:
 - ".github/**"

add check deadline
  .github/deadline.py
  .github/workflows/labeler.yml
Labels: ci

check
  .github/deadline.py
  .github/workflows/labeler.yml
Labels: ci

update
  .github/workflows/labeler.yml
Labels: ci

update
  .github/workflows/labeler.yml
Labels: ci

update
  .github/workflows/labeler.yml
Labels: ci

Add check deadline (#28)
  .github/deadline.py
  .github/workflows/labeler.yml
Labels: ci

update CODEOWNERS file
  .github/CODEOWNERS
Labels: ci

Update clang-tidy version to 19
  .github/workflows/compiler-course-tidy.yml
Labels: ci

add Senya
  .github/CODEOWNERS
Labels: ci

Update CODEOWNERS file (#30)
  .github/CODEOWNERS
Labels: ci

first commit
  clang/compiler-course/shishkarev_a_implicit_conversions/CMakeLists.txt
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
  clang/test/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions_test.cpp
Labels: lab:clang, tests

fix build
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

fix tests
  clang/compiler-course/shishkarev_a_implicit_conversions/CMakeLists.txt
  clang/test/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions_test.cpp
Labels: lab:clang, tests

2nd fix tests
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

3nd fix tests
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

4th fix tests
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

5th fix tests
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

6th fix tests
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

7th fix tests
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

8th fix tests
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

9th fix tests
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

fix clang-tidy
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

fix clang-tidy
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

fix clang-tidy
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

fix clang-tidy
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

fix clang-format
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

2nd fix clang-format
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

fix build, clang-tidy and clang-format works
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

2nd fix build, clang-tidy and clang-format works
  clang/compiler-course/shishkarev_a_implicit_conversions/shishkarev_a_implicit_conversions.cpp
Labels: lab:clang

Solve commit
  clang/compiler-course/anikin_m_ast/CMakeLists.txt
  clang/compiler-course/anikin_m_ast/anikin_m_ast.cpp
  clang/test/compiler-course/anikin_m_ast_test/test.cpp
Labels: lab:clang, tests

add clang AST task
  clang/compiler-course/opolin_d_lab_1_var_1/CMakeLists.txt
  clang/compiler-course/opolin_d_lab_1_var_1/opolin_d_lab_1_plugin.cpp
  clang/test/compiler-course/opolin_d_lab_1_var_1/opolin_d_user_type_data_test.cpp
Labels: lab:clang, tests

1lab
  clang/compiler-course/mezhuev_m_lab1/CMakeLists.txt
  clang/compiler-course/mezhuev_m_lab1/mezhuev_m_lab1.cpp
  clang/test/compiler-course/mezhuev_m_lab1/mezhuev_m_lab1_tests.cpp
Labels: lab:clang, tests

remade tests
  llvm/test/compiler-course/shishkarev_a_llvm/test_shishkarev_llvm.ll
Labels: tests

adden what i delete accidentally
  llvm/compiler-course/llvm-ir/example/CMakeLists.txt
  llvm/compiler-course/llvm-ir/example/ExamplePass.cpp
Labels: lab:llvm ir

first try
  llvm/compiler-course/backend/shishkarev_a_backend/CMakeLists.txt
  llvm/compiler-course/backend/shishkarev_a_backend/FMADecomposePass.cpp
  llvm/test/compiler-course/shishkarev_a_backend/FMADecompose.mir
Labels: lab:backend, tests

try
  llvm/test/compiler-course/shishkarev_a_backend/FMADecompose.mir
Labels: tests

remove all unnesessary
  llvm/compiler-course/backend/shishkarev_a_backend/CMakeLists.txt
  llvm/compiler-course/backend/shishkarev_a_backend/FMADecomposePass.cpp
  llvm/test/compiler-course/shishkarev_a_backend/FMADecompose.mir
Labels: lab:backend, tests
